## CHAPTER 1

## SETUP

In [2]:
import pandas as pd

## LOAD DATA

In [3]:
data_file_path = "/Users/vamsi_mbmax/Library/CloudStorage/OneDrive-Personal/01_vam_PROJECTS/SIDE_PROJECTS/proj_Pramoda_python/subproj_jb_datascience/files/JB_ds_beginner_book_4_pramoda/beginners_guide_data_science_code/chapter_01/Ames.csv"

df = pd.read_csv(data_file_path)
df

,PID,GrLivArea,SalePrice,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,...,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,GeoRefNo,Prop_Addr,Latitude,Longitude
0,909176150,856,126000,30,RL,NaN,7890,Pave,NaN,Reg,...,NaN,0,3,2010,WD,Normal,909176150.0,436 HAYWARD AVE,42.018564,-93.651619
1,905476230,1049,139500,120,RL,42.0,4235,Pave,NaN,Reg,...,NaN,0,2,2009,WD,Normal,905476230.0,3416 WEST ST,42.024855,-93.663671
2,911128020,1001,124900,30,C (all),60.0,6060,Pave,NaN,Reg,...,NaN,0,11,2007,WD,Normal,911128020.0,320 S 2ND ST,42.021548,-93.614068
3,535377150,1039,114000,70,RL,80.0,8146,Pave,NaN,Reg,...,NaN,0,5,2009,WD,Normal,535377150.0,1524 DOUGLAS AVE,42.037391,-93.612207
4,534177230,1665,227000,60,RL,70.0,8400,Pave,NaN,Reg,...,NaN,0,11,2009,WD,Normal,534177230.0,2304 FILLMORE AVE,42.044554,-93.631818
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2574,903205040,952,121000,30,RL,NaN,8854,Pave,NaN,Reg,...,NaN,0,5,2009,WD,Normal,903205040.0,1021 RIDGEWOOD AVE,42.032102,-93.626373
2575,905402060,1733,139600,20,RL,NaN,13680,Pave,NaN,IR1,...,NaN,0,6,2009,WD,Normal,905402060.0,3619 MARY CIR,42.027669,-93.666138
2576,909275030,2002,145000,90,RH,82.0,6270,Pave,NaN,Reg,...,NaN,0,8,2007,WD,Normal,909275030.0,2140 SUNSET DR 2142,NaN,NaN
2577,907192040,1842,217500,60,RL,NaN,8826,Pave,NaN,Reg,...,NaN,0,7,2007,WD,Normal,907192040.0,5319 CLEMENS BLVD,42.016802,-93.689748
2578,906223180,1911,215000,60,RL,80.0,9554,Pave,NaN,IR1,...,NaN,0,9,2006,WD,Normal,906223180.0,1025 VERMONT CT,42.030997,-93.682220

In [4]:
# shape
df.shape

(2579, 85)

In [5]:
# size
df.size

219215

In [6]:
# info
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2579 entries, 0 to 2578
Data columns (total 85 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   PID            2579 non-null   int64
 1   GrLivArea      2579 non-null   int64
 2   SalePrice      2579 non-null   int64
 3   MSSubClass     2579 non-null   int64
 4   MSZoning       2579 non-null   object
 5   LotFrontage    2117 non-null   float64
 6   LotArea        2579 non-null   int64
 7   Street         2579 non-null   object
 8   Alley          168 non-null    object
 9   LotShape       2579 non-null   object
 10  LandContour    2579 non-null   object
 11  Utilities      2579 non-null   object
 12  LotConfig      2579 non-null   object
 13  LandSlope      2579 non-null   object
 14  Neighborhood   2579 non-null   object
 15  Condition1     2579 non-null   object
 16  Condition2     2579 non-null   object
 17  BldgType       2579 non-null   object
 18  HouseStyle     2579 non-null   object
 19  OverallQual    2579 non-null   int64
 20  OverallCond    2579 non-null   int64
 21  YearBuilt      2579 non-null   int64
 22  YearRemodAdd   2579 non-null   int64
 23  RoofStyle      2579 non-null   object
 24  RoofMatl       2579 non-null   object
 25  Exterior1st    2579 non-null   object
 26  Exterior2nd    2579 non-null   object
 27  MasVnrType     1007 non-null   object
 28  MasVnrArea     2565 non-null   float64
 29  ExterQual      2579 non-null   object
 30  ExterCond      2579 non-null   object
 31  Foundation     2579 non-null   object
 32  BsmtQual       2510 non-null   object
 33  BsmtCond       2510 non-null   object
 34  BsmtExposure   2508 non-null   object
 35  BsmtFinType1   2510 non-null   object
 36  BsmtFinSF1     2578 non-null   float64
 37  BsmtFinType2   2509 non-null   object
 38  BsmtFinSF2     2578 non-null   float64
 39  BsmtUnfSF      2578 non-null   float64
 40  TotalBsmtSF    2578 non-null   float64
 41  Heating        2579 non-null   object
 42  HeatingQC      2579 non-null   object
 43  CentralAir     2579 non-null   object
 44  Electrical     2578 non-null   object
 45  1stFlrSF       2579 non-null   int64
 46  2ndFlrSF       2579 non-null   int64
 47  LowQualFinSF   2579 non-null   int64
 48  BsmtFullBath   2577 non-null   float64
 49  BsmtHalfBath   2577 non-null   float64
 50  FullBath       2579 non-null   int64
 51  HalfBath       2579 non-null   int64
 52  BedroomAbvGr   2579 non-null   int64
 53  KitchenAbvGr   2579 non-null   int64
 54  KitchenQual    2579 non-null   object
 55  TotRmsAbvGrd   2579 non-null   int64
 56  Functional     2579 non-null   object
 57  Fireplaces     2579 non-null   int64
 58  FireplaceQu    1338 non-null   object
 59  GarageType     2452 non-null   object
 60  GarageYrBlt    2450 non-null   float64
 61  GarageFinish   2450 non-null   object
 62  GarageCars     2578 non-null   float64
 63  GarageArea     2578 non-null   float64
 64  GarageQual     2450 non-null   object
 65  GarageCond     2450 non-null   object
 66  PavedDrive     2579 non-null   object
 67  WoodDeckSF     2579 non-null   int64
 68  OpenPorchSF    2579 non-null   int64
 69  EnclosedPorch  2579 non-null   int64
 70  3SsnPorch      2579 non-null   int64
 71  ScreenPorch    2579 non-null   int64
 72  PoolArea       2579 non-null   int64
 73  PoolQC         9 non-null      object
 74  Fence          525 non-null    object
 75  MiscFeature    97 non-null     object
 76  MiscVal        2579 non-null   int64
 77  MoSold         2579 non-null   int64
 78  YrSold         2579 non-null   int64
 79  SaleType       2579 non-null   object
 80  SaleCondition  2579 non-null   object
 81  GeoRefNo       2559 non-null   float64
 82  Prop_Addr      2559 non-null   object
 83  Latitude       2482 non-null   float64
 84  Longitude      2482 non-null   float64
dtypes: float64(14), int64(27), object(44)
memory usage: 1.7+ MB

In [7]:
# description / stats
df.describe()

,PID,GrLivArea,SalePrice,MSSubClass,LotFrontage,LotArea,OverallQual,OverallCond,YearBuilt,YearRemodAdd,...,EnclosedPorch,3SsnPorch,ScreenPorch,PoolArea,MiscVal,MoSold,YrSold,GeoRefNo,Latitude,Longitude
count,2.579000e+03,2579.000000,2579.000000,2579.000000,2117.000000,2579.000000,2579.00000,2579.000000,2579.000000,2579.000000,...,2579.000000,2579.000000,2579.000000,2579.000000,2579.000000,2579.000000,2579.000000,2.559000e+03,2482.000000,2482.000000
mean,7.147546e+08,1485.950368,178053.442420,57.694843,68.510628,10119.269484,6.04653,5.618457,1970.325708,1983.765025,...,23.223342,2.512214,16.162854,1.662660,48.750291,6.152385,2007.839085,7.136762e+08,42.034556,-93.642535
std,1.886603e+08,488.723768,75044.983207,42.810137,22.839861,8128.389882,1.36770,1.122200,29.719469,20.483428,...,64.118627,25.298791,56.803807,30.345262,498.820852,2.669913,1.312088,1.886281e+08,0.018058,0.026029
min,5.263011e+08,334.000000,12789.000000,20.000000,21.000000,1300.000000,1.00000,1.000000,1872.000000,1950.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,2006.000000,5.263011e+08,41.986495,-93.692701
25%,5.313630e+08,1112.000000,129950.000000,20.000000,57.000000,7406.500000,5.00000,5.000000,1953.000000,1965.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,4.000000,2007.000000,5.284891e+08,42.022247,-93.660716
50%,5.354542e+08,1436.000000,159900.000000,50.000000,68.000000,9382.000000,6.00000,5.000000,1972.000000,1992.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,6.000000,2008.000000,5.354532e+08,42.034817,-93.640388
75%,9.071806e+08,1733.000000,209750.000000,70.000000,80.000000,11485.500000,7.00000,6.000000,1999.000000,2003.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,8.000000,2009.000000,9.071780e+08,42.049065,-93.621691
max,1.007100e+09,4676.000000,755000.000000,190.000000,313.000000,215245.000000,10.00000,9.000000,2010.000000,2010.000000,...,1012.000000,508.000000,576.000000,800.000000,15500.000000,12.000000,2010.000000,1.007100e+09,42.063342,-93.578327

In [16]:
# show column names
df.columns

Index(['PID', 'GrLivArea', 'SalePrice', 'MSSubClass', 'MSZoning',
       'LotFrontage', 'LotArea', 'Street', 'Alley', 'LotShape', 'LandContour',
       'Utilities', 'LotConfig', 'LandSlope', 'Neighborhood', 'Condition1',
       'Condition2', 'BldgType', 'HouseStyle', 'OverallQual', 'OverallCond',
       'YearBuilt', 'YearRemodAdd', 'RoofStyle', 'RoofMatl', 'Exterior1st',
       'Exterior2nd', 'MasVnrType', 'MasVnrArea', 'ExterQual', 'ExterCond',
       'Foundation', 'BsmtQual', 'BsmtCond', 'BsmtExposure', 'BsmtFinType1',
       'BsmtFinSF1', 'BsmtFinType2', 'BsmtFinSF2', 'BsmtUnfSF', 'TotalBsmtSF',
       'Heating', 'HeatingQC', 'CentralAir', 'Electrical', '1stFlrSF',
       '2ndFlrSF', 'LowQualFinSF', 'BsmtFullBath', 'BsmtHalfBath', 'FullBath',
       'HalfBath', 'BedroomAbvGr', 'KitchenAbvGr', 'KitchenQual',
       'TotRmsAbvGrd', 'Functional', 'Fireplaces', 'FireplaceQu', 'GarageType',
       'GarageYrBlt', 'GarageFinish', 'GarageCars', 'GarageArea', 'GarageQual',
       'GarageCond', 'PavedDrive', 'WoodDeckSF', 'OpenPorchSF',
       'EnclosedPorch', '3SsnPorch', 'ScreenPorch', 'PoolArea', 'PoolQC',
       'Fence', 'MiscFeature', 'MiscVal', 'MoSold', 'YrSold', 'SaleType',
       'SaleCondition', 'GeoRefNo', 'Prop_Addr', 'Latitude', 'Longitude'],
      dtype='object')

In [17]:
# show column names
[col for col in df.columns if col.startswith("P")]

['PID', 'PavedDrive', 'PoolArea', 'PoolQC', 'Prop_Addr']

In [25]:
# show me one column - show like a simple list
df["SalePrice"]

0       126000
1       139500
2       124900
3       114000
4       227000
         ...
2574    121000
2575    139600
2576    145000
2577    217500
2578    215000
Name: SalePrice, Length: 2579, dtype: int64

In [24]:
# show me one column - show like a dataframe (meaning also show the column header)
df[["SalePrice"]]

      SalePrice
0        126000
1        139500
2        124900
3        114000
4        227000
...         ...
2574     121000
2575     139600
2576     145000
2577     217500
2578     215000

[2579 rows x 1 columns]